:root {
    --ana-background-color: #fafafa;
    --ana-primary-color: #333333;
    --ana-secondary-color: #eeeeee;

    --ana-neutral-light-color: #b9b9b9;
    --ana-neutral-color: #7f7f7f;
    --ana-neutral-text-color: #333333;

    --ana-accent-light-color: #d2caef;
    --ana-accent-color: #8f83ed;
    --ana-accent-text-color: #6f63cf;

    --ana-logo-img: url("images/logo-dark.png");
    --ana-avatar-img: url("images/avatar-art.png");
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    color: var(--ana-primary-color);
    font-weight: 500;
    background-color: var(--ana-background-color);
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ana-background-color: #131313;
        --ana-primary-color: #eeeeee;
        --ana-secondary-color: #333333;

        --ana-accent-light-color: #b0e9d5;
        --ana-accent-color: #00a97d;
        --ana-accent-text-color: #1a9473;

        --ana-logo-img: url("images/logo-light.png");
        --ana-avatar-img: url("images/avatar-life.png");
    }
}

.ana-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    gap: 20px;
}

.ana-card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.ana-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    background-color: var(--ana-secondary-color);
    border-radius: 20px;
    padding: 24px;
    gap: 18px;
}

.ana-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ana-avatar {
    --ana-avatar-size: 110px;

    width: var(--ana-avatar-size);
    max-width: 100%;
    border-radius: var(--ana-avatar-size);
    content: var(--ana-avatar-img);
}

.ana-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ana-logo {
    width: 100%;
    max-width: 170px;
    content: var(--ana-logo-img);
}

.ana-title {
    font-size: 18px;
    font-weight: 600;
}

.ana-sub-title {
    font-size: 16px;
    font-weight: 500;
}

.ana-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.ana-links-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 100%;
    gap: 18px;
}

.ana-links-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 18px;
}

.ana-link {
    --ana-link-background: var(--ana-accent-light-color);
    --ana-link-shadow: var(--ana-accent-color);
    --ana-link-color: var(--ana-accent-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    width: 100%;
    padding: 12px 32px;
    gap: 8px;
    background: var(--ana-link-background);
    color: var(--ana-link-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 4px 4px 1px 0px var(--ana-link-shadow);
    transition: all 0.2s;
    outline: none;
    text-decoration: none;
}

.ana-link:hover,
.ana-link:focus {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 1px 0px var(--ana-link-shadow);
}

.ana-link:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

.ana-link.ana-link-neutral {
    --ana-link-background: var(--ana-neutral-light-color);
    --ana-link-shadow: var(--ana-neutral-color);
    --ana-link-color: var(--ana-neutral-text-color);
}

.ana-icon {
    --ana-icon-size: 18px;
    --ana-icon-color: --ana-accent-text-color;

    height: var(--ana-icon-size);
    width: var(--ana-icon-size);
    min-height: var(--ana-icon-size);
    min-width: var(--ana-icon-size);
    display: inline-block;
    background-color: var(--ana-icon-color);
    -webkit-mask-image: var(--ana-icon);
    mask-image: var(--ana-icon);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.ana-link .ana-icon {
    --ana-icon-color: var(--ana-link-color);
}

.ana-icon.ana-icon-deviantart {
    --ana-icon: url("icons/deviantart.svg");
}

.ana-icon.ana-icon-discord {
    --ana-icon: url("icons/discord.svg");
}

.ana-icon.ana-icon-ocs {
    --ana-icon: url("icons/ocs_logo.png");
}

.ana-icon.ana-icon-palette {
    --ana-icon: url("icons/fa_palette.svg");
}

.ana-icon.ana-icon-email {
    --ana-icon: url("icons/email.svg");
}

.ana-icon.ana-icon-patreon {
    --ana-icon: url("icons/patreon.svg");
}

.ana-icon.ana-icon-kofi {
    --ana-icon: url("icons/kofi.svg");
}

.ana-icon.ana-icon-paypal {
    --ana-icon: url("icons/paypal.svg");
}

.ana-icon.ana-icon-telegram {
    --ana-icon: url("icons/telegram.svg");
}

.ana-icon.ana-icon-toyhouse {
    --ana-icon: url("icons/toyhouse.svg");
}

.ana-icon.ana-icon-furaffinity {
    --ana-icon: url("icons/furaffinity.svg");
}

.ana-icon.ana-icon-twitter {
    --ana-icon: url("icons/twitter.svg");
}

.ana-icon.ana-icon-instagram {
    --ana-icon: url("icons/instagram.svg");
}
